* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  background-color: #12404a;
}
.container {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* background-color: tomato; */
}

.logo {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 1.8em;
  color: #fff;
  margin: 5px 10px 5px 10px;
  cursor: pointer;
  /* touch-action: auto; */
}
.menu {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: flex-end;
  /* background-color: red; */
}
.menu ul {
  display: flex;
  list-style: none;
}
.menu a {
  text-decoration: none;
  color: #fff;
  padding: 10px;
}
.menu a:hover {
  background-color: #1b5360;
  transition: all 1s ease;
}
main {
  height: calc(100vh - 100px);
}

.main-container {
  max-width: 960px;
  margin: 0 auto;
}

.projects-body {
  display: flex;
  /* align-items: center;
  justify-content: center; */
  flex-wrap: wrap;
  padding: 10px;
}

.projects {
  flex: 1 1 300px;
  height: 160px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 5px solid #1a284b;
  /* background-color: yellow; */
}

.projects-img {
  display: flex;
  justify-content: center;
  width: 300px;
  height: 180px;
  border-left: 5px solid #fff;
  animation-name: img-animate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes img-animate {
  0% {
    border-left: 5px solid #fff;
  }
  25% {
    border-left: 2px solid #12404a;
  }
  50% {
    border-left: 3px solid #12404a;
  }
  75% {
    border-left: 3px solid #12404a;
  }
  100% {
    border-left: 5px solid #12404a;
  }
}
.projects-img img {
  display: block;
  max-width: 200px;
}
.projects:hover {
  border-bottom: 7px solid #1a284b;
  transition: all 0.1s linear;
}

.projects h1 {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 5px;
}
.projects p {
  text-align: center;
}
footer {
  margin: 0;
  padding: 0;
  height: 80px;
  background-color: #1b5360;
}
.footer-container {
  display: flex;
  justify-content: center;
}
address {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 80px;
  color: #ffff;
  font-weight: normal;
}
q {
  margin-top: 5px;
}
